

#login, #register {
  display: grid;
  justify-content: center;
  padding-top: 30px;
  
}
    h4 {
      margin: 10px 0 5px;
    }
  
    p {
      margin: 5px 0;
    }

  
    .error {
      font-size: 12px;
      color: #f00;
    }
  
    button {
   
      justify-self: start;
    }
    input {
      width: 400px;
      line-height: 40px;
      border: 1px solid #eaeaea;
      padding: 0 10px;
      border-radius: 4px;
      outline: none;
    }
  
    .notice {
      font-size: 12px;
      color: rgba(0, 153, 51, 0.6);
      text-align: center;
      margin-top: 30px;
  
    }
        a {
          color: #333;
        }

