.item{
    position: relative;
    display: flex;
    /* flex-direction: column; */

}
.avatar{

    margin-left: 130px;
    margin-top: 50px;

}
figcaption {
    font-size: 12px;
    margin: 16px;
    /* color: @textLighterColor; */
  }
img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
.item h3{  
   margin: 50px;
    position: absolute;
   margin-left: 227px;

}
.item h3>span{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.item p{
 position: absolute;
 margin: 224px;
 top: -120px;


}
.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
}